table {
    width: 100%;
    background-color: #e3e3e3; 
}

td, th {
    font-size: 20px;
    font-family: sans-serif;
}

table > thead {
    background-color: #a9a9a9; 
} 

table > tbody > tr:nth-child(odd) {
    background-color: #f4f4f4; 
}
